@font-face {
    font-family: odinFont;
    src: url(font/Norse-Bold.otf);
}

* {
    outline: 0px dashed red;
    --left-margin: 30px;
}

#odin {
    font-family: odinFont;
    color: white !important;
    font-size: 5rem;
    margin: auto 0;

}

#logo>img {
    width: auto;
    height: 6rem !important;
}
html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
}

.right.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    min-width: 500px;
}

.left.container {
    background-image: url(./img/leaves.jpg);
    background-size:cover;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}



.right.textbox {
    font-weight: 600;
    margin-bottom: 50px;
}

.right.textbox p {
    margin: 0 var(--left-margin);
}

label{
    font-weight: 600;
    font-size: 0.6rem;
    color: gray;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.row div {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

}

fieldset {
    display: block;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.35);
    margin: 40px 0 25px;
    padding: 30px;
    

}

.submit {
    margin-left: var(--left-margin);
    background-color: olivedrab;
    color: white;
    transition: background-color 0.2s;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 0.5px 0 rgba(0,0,0,0.55);

}

.submit:hover {

    background-color: rgb(67, 91, 19)
}

.submit:active {
    padding-top: 10.5px;
    padding-bottom: 9.5px;
    box-shadow: 0 3px 0.5px 0 rgba(0,0,0,0.55);
    background-color: rgb(255, 179, 0)
}

legend {
    font-weight: 600;
    padding: 0;
    font-size: 1.25rem;
}

.login {
    text-decoration: none;
    color: olivedrab;
    font-weight: 400px;
}

.login:hover {
    color: rgb(67, 91, 19)
}

.login:active {
    color: rgb(255, 179, 0)
}

.login-container {
    display: block;
    margin-left: var(--left-margin);
}

input {
    appearance: none;
    border: 2px solid;
    border-color: #E5E7EB;
    border-radius: 4px;
}

.right.container:last-child {
    background-color: red;;
}



p.login-container {
    margin: 25px 30px;
}

.logo.container {
    margin-top: 20vh;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;

}

#creditos {
    color: white;
    font-size: .8rem;
}

#creditos>a {
    color: white;
}

#creditos>a:visited {
    color: lightgoldenrodyellow;
}

input:focus {
    border-color: #6191f2;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.55);
}


.password.span::after {
    position: absolute;
    content: "Password must contain at least 6 characters";
    color: rgb(4, 101, 98);
    font-size: 0.5rem;
}

.feedback.error::after {
    position: absolute;
    content: "Password does not match";
    color: red;
    font-size: 0.5rem;
}

.password.input.error {
    border-color: red;
}