html {
    margin: 0;
}

body {
    display: flex;
    margin: 0;
}

#div1 {
    background-image: url(img/hse.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40vw;
    height: 100vh;
    width: 40vw;
}

#div2 { background-color: aqua;
    height: 100vh;
    width: 60vw;
}